#render {
    position: relative;
}

.window-crash {
    position: relative;
    width: 700px;
    height: 500px;
    width: 100%;
    background-color: #151627;
}

#multiplier {
    font-size: 50px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all ease-in 0.2;
    position: relative;

    margin-bottom: 0.4em;
}

#multiplier.multiplier-animation {
    font-size: 70px;
}

.multiplier-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto';
    text-align: center;
}

.multiplier-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.5em;
}

.multiplier-container div span {
    color: #807A96;
    font-weight: bold;
    font-size: 20px;
}

#profit {
    margin-top: 0.5em;
    color: #44a64a;
    letter-spacing: 2px;
}

.new-game-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
}
.crash-background {
    height: 100%;
    width: 100%;
    background-color: #151627c8;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.new-game-text-container {
    background-color: #121220;
    z-index: 110;
    height: 12em;
    border-radius: 5px;
    width: 14em;
    color: white;
    font-family: 'Roboto';
    text-align: center;
}

.new-game-header {
    font-weight: normal;
}

.new-game-text-container h1 {
    margin-top: 
    2em;
}

.hidden {
    display: none;
}

.user-menu {
    display: flex;
    flex-direction: column;
    width: 12em;
    background-color: #121220;
    padding: 1em;
}

.crash-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.start-game {
    height: 3em;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
}

button {
    height: 3em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;

    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    height: 3em;
    font-family: "Helvetica", Arial;
    font-weight: bold;
}

#bet-amount {
    height: 2.5em;
}

.disabled-button {
    background: #a19321;
    cursor: not-allowed;
}

.joined-button {
    background: #44A64A;
}

.crash-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.last-multipliers {
    background: #121220;
    width: 100%;
    font-family: 'Roboto';
    font-size: 15px;
    height: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row-reverse;
}

.last-multipliers span {
    margin-inline: 0.5em;
}

.crash-container-container {
    display: flex;
    flex-direction: column;
    max-width: 60em;
}

.last-multipliers .positive {
    color: #44a64a
}

.last-multipliers .negative {
    color: #db342a
}